body {
  position: relative;
}

h1 {
  color: black;
  font-size: 40px;
}

button {
  border-radius: 10px;
  margin: 5px;
  box-shadow: 2px 1px grey;
  font-size: 40px;
  width: 75px;
}

button:active {
  background-color: grey;
  opacity: .95;
}

.calculator {
  position: absolute;
  width: 400px;
  height: 500px;
  border-style: double;
  top: 50%;
  left: 50%;
  margin: 100px 0 0 -200px;
  border-radius: 10px;
}

.calc-window {
  height: 50px;
  width: 385px;
  border-style: solid;
  margin: 5px;
}

.on-screen {
  float: right;
  margin: 0px;
  padding: 5px;
}

.buttons {
  margin: 0 auto;
}

.calc-row-main {
  margin: 20px;
}

.calc-row {
  margin: 20px;
}
